.common {
    width: 100%;
    height: var(--main-height);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

.light {
    background-color: rgb(204, 168, 206);
}

.dark {
    background-color: rgb(70, 54, 74);
}

.buttn{
    margin-left: 80%;
}